.header-home {
    padding: 100px 0 165px;
    height: 700px;
    background-image: url('../images/banner/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    .banner-text {
        padding-left: 40px;
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
        h1 {
            font-size: 40px;
            font-weight: 600;
            margin-top: 100px;
        }
        span {
            font-size: 30px;
        }
    }
}



.value {
    padding-top: 30px;
    margin-bottom: 40px;
    margin-top: 60px;
    .figure {
        img {
            width: 90px;
            margin-bottom: 30px;
        }
    }
    .figure-caption {
        margin-bottom: 40px;
        color: #006633;
        h2 {
            span {
                font-weight: bold;
            }
        }
        h1 {
           font-size: 60px;
           margin-top: -10px;
           margin-right: -12px;
           font-weight: bold; 
        }
        h4 {
            margin-left: -12px;
        }
    }
    
}


.milestone {
    padding-top: 30px;
    .milestone-title {
        color: #006633;
        margin-bottom: 40px;
        h1 {
            font-size: 25px;
            font-weight: 700;
        }
        h2 {
            font-size: 25px;
        }
    }
    .milestone-detail {
        .year {
            h1 {
            font-size: 30px;
            color: #295E2A;
            font-weight: bold;
            padding-top: 20px;
            }
        }
        .separator {
            margin-top: 25px;
            position: relative;
            z-index: 999;
            .line-dash {
                position: absolute;
                border-left: 2px dashed #676767;
                height: 2700px;
                left: 24px;
                margin-top: 20px;
            }
            img {
                width: 20px;
            }

        }
     
        .stage {
            img {
                margin-right: 20px;
                margin-bottom: 8px;
            }
            h2 {
                    color: #295E2A;
                    font-size: 10px;
                    font-weight: bold;
                    margin-bottom: 4px;
            }
            h3 {
                color: #295E2A;
                font-size: 10px;
                font-weight: bold;
                margin-bottom: 3px;
                span {
                    font-size: 10px;
                    font-weight: bold;
                    color: #676767;
                    margin-bottom: 3px;
                }
            }
            h5 {
                    font-size: 10px;
                    font-weight: bold;
                    color: #676767;
                    margin-bottom: 3px;
            }
            .border-bottom {
                width: 30px;
                border-bottom: 1px solid grey !important;
            }
            .hmi {
                h2 {
                    margin-bottom: 1px;
                }
            }

         }
    

    }
}

// I-phone SE portrait
@media (min-width: 375px) { 
    .header-home {
        height: 500px;
        padding: 100px 0 90px;
        .banner-text {
            padding-left: 40px;
            h1 {
                font-size: 32px;
                font-weight: 400;
                margin-top: 100px;
            }
            span {
                font-size: 20px;
            }
        }
    }
    .milestone {
        .milestone-detail {
            .year {
                h1 {
                    font-size: 20px;
                }
            }
            .separator {
                .line-dash {
                    height: 2900px;
                }
            }
        }
    }

}


// phone portrait
@media (min-width: 400px) { 
    .header-home {
        padding: 100px 0 90px;
        height: 500px;
        .banner-text {
            margin-top: 40px;
            padding-left: 40px;
            h1 {
                font-size: 35px;
                font-weight: 400;
            }
            span {
                font-size: 25px;
            }
        }
    }

}

// phone landscape
@media (min-width: 576px) { 

}
// tablets version
@media (min-width: 768px) { 
.milestone {
    .milestone-detail {
        .separator {
            .line-dash {
                height: 2300px;
            }
        }
    }
}

}


// dekstop version
@media (min-width: 992px){
.header-home {
    height: 700px;
    margin-top: -100px;
    .banner-text {
        padding-left: 70px;
        h1 {
            margin-top: 170px;
            font-size: 70px;
        }
        span {
            font-size: 55px;
        }
    }
}

.value {
        .value-content {
        border-right: 3px solid #006633;
        h3 {
            span {
                font-size: 35px;
                font-weight: 600;
            }
        }
        .figure {
            img {
                width: 130px;
                margin-bottom: 30px;
            }
        }
    }
}
    .milestone {
        
        .milestone-title {
            h1 {
                font-size: 43px;
                font-weight: 700;
            }
            h2 {
                font-size: 43px;
            }
        }
        .milestone-detail {  
            .year {
                h1 {
                    font-size: 60px;
                    color: #295E2A;
                    font-weight: bold;
                    margin-top: -9px;
                    }
            }
            .stage {
                    h2 {
                        color: #295E2A;
                        font-size: 16px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    h3 {
                        color: #295E2A;
                        font-size: 12px;
                        font-weight: bold;
                        margin-bottom: 3px;
                        span {
                            font-size: 12px;
                            font-weight: bold;
                            color: #676767;
                            margin-bottom: 3px;
                        }
                    }
                    h5 {
                        font-size: 12px;
                        font-weight: bold;
                        color: #676767;
                        margin-bottom: 3px;
                    }
                    .borde {
                        border-right: 1px solid #295E2A;
                        margin-left: -20px;
                    }
                    
    
             }
             .separator {
                text-align: center;
                .line-dash {
                    height: 2130px;
                    left: 46px;
                    margin-top: 27px;
                }
                img {
                    width: 30px;
                }

            }
        }

    }
    
}